*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body
{
  height: 100%;
  width: 100%;
}
.card
{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
}
.nev
{
  background-color: blue;
  border-radius: 140px;
  margin: 30px;
  padding: 30px;
}